*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
header{
    background-color: white;
    padding: 5px;
}

.blocco{
    width: 90%;
    height: 100%;
    vertical-align: middle;
    margin:auto;
    margin-top: 60px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.title{
    display: inline-block;
    vertical-align: middle;
}

.button-section{
    padding: 1rem;
    border: 1rem;
    background-color: white;

}

.button{
    border-radius: 5px;
    color: grey;
    border: 1px solid grey;
    background-color: white;
}

.button.azure{
    background-color:cornflowerblue;
    color: white;
}

.list{
    background-color: white;
    padding: 2rem;
}

.list-title{
}

.icon{
    border-radius: 15px;
    background-color:cornflowerblue;
    display: inline-block;
    text-align: center;
    width: 5rem;
    height: 1.5rem;
    vertical-align: middle;
    color: white;
}

.icon.viola{
    background-color: blueviolet;
    border-radius:15px ;
}

.icon.verde{
    background-color: green;
}
.icon.arancio{
    background-color: orange;
}

.icon.rosa{
    background-color: pink;
}

.icon.verdone{
    background-color: greenyellow;
}